<template name="SideNav">
  <nav class="side-nav">
    <ul>
      <li>
        <a href="/studies">
          <i class="fa fa-home"></i> Studies
        </a>
      </li>
      {{#if currentUser.profile.currentStudy}}
      <li>
        <a href="/alternatives">
          <i class="fa fa-list"></i> Alternatives
        </a>
      </li>
      <li>
        <a href="/criteria">
          <i class="fa fa-info"></i> Criteria
        </a>
      </li>
      <li>
        <a href="/vote">
          <i class="fa fa-check"></i> Vote
        </a>
      </li>
      {{/if}}
    </ul>
  </nav>
</template>
